Repository zoobzio/tendo: changes, and which Codecov flags are due for each by the changed paths.
All: unit, Tensor Core, Operations, Memory Pool, Backend System, Constructors

feat: update pipz version
  go.mod
  go.sum
  helpers.go
  helpers_test.go
  ops.go
  ops_activation.go
  ops_conv.go
  ops_device.go
  ops_dtype.go
  ops_elementwise.go
  ops_embedding.go
  ops_loss.go
  ops_matrix.go
  ops_norm.go
  ops_pool.go
  ops_reduce.go
  ops_shape.go
  ops_transfer.go
  signals.go
  testing/integration/helpers_test.go
Due: unit, Operations

fix: lint
  examples/inference/main.go
  models/gpt2/config.go
  models/gpt2/forward.go
  models/gpt2/generate.go
  models/gpt2/model.go
  models/llama/config.go
  models/llama/forward.go
  models/llama/generate.go
  models/llama/model.go
  models/llama/quantized.go
  models/loader.go
  models/sampling.go
  models/tokenizer.go
  nn/linear.go
  nn/mlp.go
  nn/quantize.go
  nn/rope.go
  nn/transformer.go
Due: none

feat: focus on inference - training/autograd deferred
  backend.go
  cpu/backend.go
  cuda/backend.go
  cuda/ops.go
  cuda/popcorn.go
  docs/1.overview.md
  docs/2.learn/3.architecture.md
  docs/3.guides/3.dtypes.md
  docs/4.cookbook/1.pipelines.md
  docs/4.cookbook/2.observability.md
  ops.go
  ops_activation.go
  ops_conv.go
  ops_elementwise.go
  ops_embedding.go
  ops_loss.go
  ops_matrix.go
  ops_norm.go
  ops_pool.go
  ops_reduce.go
  ops_shape.go
  optim.go
  signals.go
  storage.go
  tape.go
  tensor.go
Due: unit, Tensor Core, Operations, Backend System

fix: go.work config
  .github/workflows/ci.yml
  .golangci.yml
  examples/go.mod
  examples/go.sum
  go.mod
  go.sum
  go.work
Due: none

fix: cuda build tags
  cuda/popcorn.go
  device_test.go
  dtype_test.go
  matrix_test.go
Due: none

feat: consolidate packages
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .golangci.yml
  cpu/backend.go
  cpu/blas.go
  cpu/go.mod
  cpu/go.sum
  cpu/pool.go
  cpu/storage.go
  cuda/backend.go
  cuda/cudnn.go
  cuda/go.mod
  cuda/go.sum
  cuda/ops.go
  cuda/pool.go
  cuda/popcorn.go
  cuda/runtime.go
  cuda/storage.go
  cuda/types.go
  examples/go.mod
  examples/go.sum
  examples/inference/main.go
  go.mod
  go.sum
  go.work
  go.work.sum
  models/go.mod
  models/go.sum
  nn/go.mod
  nn/go.sum
  testing/go.mod
  testing/go.sum
Due: none

feat: build tag for tokenizers
  models/tokenizer.go
  models/tokenizer_test.go
Due: none

fix: minor ci fixes
  .github/workflows/ci.yml
  .golangci.yml
Due: none

fix: remove submodule release
  .github/workflows/release.yml
Due: none

Path conditions:
  unit: any of: *.go, but not: *_test.go, **/*_test.go, **/mock_*.go, **/testdata/**, docs/**, .github/**, vendor/**, testing/**
  Tensor Core: any of: tensor.go, storage.go, shape.go, but not: *_test.go, **/*_test.go, **/mock_*.go, **/testdata/**, docs/**, .github/**, vendor/**, testing/**
  Operations: any of: ops*.go, but not: *_test.go, **/*_test.go, **/mock_*.go, **/testdata/**, docs/**, .github/**, vendor/**, testing/**
  Memory Pool: any of: pool.go, but not: *_test.go, **/*_test.go, **/mock_*.go, **/testdata/**, docs/**, .github/**, vendor/**, testing/**
  Backend System: any of: backend.go, pkg/**/*.go, but not: *_test.go, **/*_test.go, **/mock_*.go, **/testdata/**, docs/**, .github/**, vendor/**, testing/**
  Constructors: any of: constructors.go, but not: *_test.go, **/*_test.go, **/mock_*.go, **/testdata/**, docs/**, .github/**, vendor/**, testing/**
